* {
	margin:  7px;
	padding:  1px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	background-color: #2a283d;
	color: white;
	font-family: 'Playfair', serif;
}

.cursive {
	font-family: cursive;
}


#left-column {
	padding: 20px;
}

h1 {
	margin-bottom:  -46px;
	font-size: 35px;
}

h2 {
    margin-bottom:  5px;
    font-size: 20px;
}

h3 {
    margin-bottom:  -19px;
}


p {
    margin-top: 562px;
	margin-bottom:  100px;
}


ul, ol {
	margin-left: 20px;
} 

img {


}

  .image-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    align-items: start;
    margin-top: 73px;
  }

  .image-container .image-1 {
  	width: 330px;
	height:  auto;
    transform: rotate(106deg);
    transform-origin: right;
    margin: 0px;
  }

  .image-item{
    padding: 10px;
  }

  .right-align {
    justify-self: end;
  }

  .left-align {
    justify-self: start;
  }

  .inner-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  .shape {
    position: relative;
    top:-1018px;
    left:-116px;
  }





#santahat1{
    width: 3.5px;
    height: 3.5px;
    background: #ffffffd1;
    border-radius: 50%;
    position: absolute;
    top: 1018px;
    left: 201px;
}
#santahat2{
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 1254px;
    left: 463px;
}
#santahat3{
    width: 4px;
    height: 4px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 1266px;
    left: 116px;
}
